<div class="modal-body compare-modal-body">

	<div class="imageViewer-container">
		<image-viewer src="'data/' + $ctrl.image1.file.path + $ctrl.image1.file.texture" options="{width: $ctrl.image1.file.width, height: $ctrl.image1.file.height}"></image-viewer>
		<image-viewer src="'data/' + $ctrl.image2.file.path + $ctrl.image2.file.texture" options="{width: $ctrl.image2.file.width, height: $ctrl.image2.file.height}"></image-viewer>
	</div>

</div>

<div class="modal-footer">
	<button class="btn btn-secondary" ng-click="$ctrl.close()">Close</button>
</div>
