<div class="modal-body compare-modal-body">

	<div class="captions">
		<div>
			<div><b>{{$ctrl.image1.title}}</b></div>
			<i>{{$ctrl.image1.author || 'unknown'}} - {{$ctrl.image1.date || 'unknown' | imageDate}}</i>
		</div>
		<div>
			<div><b>{{$ctrl.image2.title}}</b></div>
			<i>{{$ctrl.image2.author || 'unknown'}} - {{$ctrl.image2.date || 'unknown' | imageDate}}</i>
		</div>
	</div>

	<div class="imageViewer-container">
		<image-viewer src="'data/' + $ctrl.image1.file.path + $ctrl.image1.file.preview" options="{width: $ctrl.image1.file.width, height: $ctrl.image1.file.height}" grid></image-viewer>
		<image-viewer src="'data/' + $ctrl.image2.file.path + $ctrl.image2.file.preview" options="{width: $ctrl.image2.file.width, height: $ctrl.image2.file.height}" grid></image-viewer>
	</div>

</div>

<div class="modal-footer">
	<button class="btn btn-secondary" ng-click="$ctrl.close()">Close</button>
</div>
