<div class="list-tabs">
	<div ng-class="{active: $ctrl.listTab === 'results'}" ng-click="$ctrl.setListTab('results')">Search results ({{$ctrl.images.length}})</div>
	<div ng-class="{active: $ctrl.listTab === 'selection'}" ng-click="$ctrl.setListTab('selection')">Selection ({{$ctrl.selection.length}})</div>
	<div ng-class="{active: $ctrl.listTab === 'collection'}" ng-click="$ctrl.setListTab('collection')">Collection ({{$ctrl.collection.length}})</div>
</div>

<div class="list-selection bg-light" ng-hide="$ctrl.listTab === 'results'">

	<!-- selection list -->
	<ul class="list-unstyled" ng-show="$ctrl.listTab === 'selection'">
		<li class="media border border-secondary" ng-repeat="img in $ctrl.selection" title="{{img.title}}" ng-click="$ctrl.openImage(img.id)">
			<div class="media-thumb mr-3" ng-style="{'background-image': 'url(data/' + img.file.path + img.file.thumb + ')'}"></div>
			<div class="media-body">
				<div class="media-title" ng-clamp="1" ng-bind="img.title"></div>
				<p class="mb-0"><i>{{img.author || 'unknown'}} - {{img.date || 'unknown' | imageDate}}</i></p>
			</div>
			<div class="media-flags">
				<i title="Add to collection" class="far fa-star" ng-show="!img.inCollection" ng-click="$ctrl.addToCollection($event, img)"></i>
				<i title="Remove from collection" class="fas fa-star" ng-show="img.inCollection" ng-click="$ctrl.removeFromCollection($event, img)"></i>
				<i title="Spatialized (Zoom in)" class="fa fa-cube" ng-show="img.spatial" ng-click="$ctrl.focusImage($event, img.spatial)"></i>
			</div>
			<div class="media-compare-btn" ng-show="$index" ng-click="$ctrl.openCompareModal($event, $ctrl.selection[$index-1], $ctrl.selection[$index])">
				<button title="Compare" class="btn btn-sm btn-primary"><i class="fa fa-exchange-alt"></i></button>
			</div>
		</li>
	</ul>

	<!-- collection list -->
	<ul class="list-unstyled" ng-show="$ctrl.listTab === 'collection'" dnd-list="$ctrl.collection">
		<li class="media border border-secondary"
			ng-repeat="img in $ctrl.collection"
			title="{{img.title}}"
			dnd-draggable="img"
			dnd-moved="$ctrl.collectionChangedByDnd($index)"
			ng-click="$ctrl.openImage(img.id)">
			<div class="media-thumb mr-3" ng-style="{'background-image': 'url(data/' + img.file.path + img.file.thumb + ')'}"></div>
			<div class="media-body">
				<div class="media-title" ng-clamp="1" ng-bind="img.title"></div>
				<p class="mb-0"><i>{{img.author || 'unknown'}} - {{img.date || 'unknown' | imageDate}}</i></p>
			</div>
			<div class="media-flags">
				<i title="Add to collection" class="far fa-star-o" ng-show="!img.inCollection" ng-click="$ctrl.addToCollection($event, img)"></i>
				<i title="Remove from collection" class="fas fa-star" ng-show="img.inCollection" ng-click="$ctrl.removeFromCollection($event, img)"></i>
				<i title="Spatialized (Zoom in)" class="fa fa-cube" ng-show="img.spatial" ng-click="$ctrl.focusImage($event, img.spatial)"></i>
			</div>
			<div class="media-compare-btn" ng-show="$index" ng-click="$ctrl.openCompareModal($event, $ctrl.collection[$index-1], $ctrl.collection[$index])">
				<button title="Compare" class="btn btn-sm btn-primary"><i class="fa fa-exchange-alt"></i></button>
			</div>
		</li>

		<li class="media border border-secondary dndPlaceholder">
			<div class="media-thumb"></div>
			<div class="media-body"></div>
		</li>
	</ul>
</div>

<!-- results container -->
<div class="results-container" ng-show="$ctrl.listTab === 'results'">

	<!-- controls -->
	<div class="list-ctrls bg-light">
		<div class="input-group input-group-sm w-auto">
			<div class="input-group-prepend">
				<span class="input-group-text">Sort by</span>
			</div>
			<select class="form-control" ng-model="$ctrl.listOrderBy.prop">
				<option value="title">Title</option>
				<option value="author">Author</option>
				<option value="date.from">Date</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-sm" ng-class="{'btn-primary': !$ctrl.listOrderBy.desc, 'btn-secondary': $ctrl.listOrderBy.desc}" ng-click="$ctrl.listOrderBy.desc = false"><i class="fa fa-sort-alpha-down"></i></button>
				<button class="btn btn-sm" ng-class="{'btn-primary': $ctrl.listOrderBy.desc, 'btn-secondary': !$ctrl.listOrderBy.desc}" ng-click="$ctrl.listOrderBy.desc = true"><i class="fa fa-sort-alpha-up"></i></button>
			</div>
		</div>

		<div class="input-group input-group-sm w-auto">
			<div class="input-group-prepend">
				<span class="input-group-text">#</span>
			</div>
			<select class="form-control" ng-model="$ctrl.itemsPerPage">
				<option ng-value="20">20</option>
				<option ng-value="50">50</option>
				<option ng-value="100">100</option>
			</select>
		</div>

		<div class="btn-group btn-group-sm">
			<button class="btn btn-sm" ng-class="$ctrl.listMode === 'list' ? 'btn-primary' : 'btn-secondary'" ng-click="$ctrl.setListMode('list')"><i class="fa fa-th-list"></i></button>
			<button class="btn btn-sm" ng-class="$ctrl.listMode === 'cards' ? 'btn-primary' : 'btn-secondary'" ng-click="$ctrl.setListMode('cards')"><i class="fa fa-th-large"></i></button>
		</div>
	</div>

	<div class="list-body lead d-flex justify-content-center align-items-center" ng-if="$ctrl.images.length === 0">
		No search results
	</div>

	<div class="list-body list-media" ng-if="$ctrl.images.length && $ctrl.listMode === 'list'">

		<ul class="list-unstyled">
			<li class="media border border-secondary" ng-repeat="img in $ctrl.images | orderBy:$ctrl.listOrderBy.prop:$ctrl.listOrderBy.desc | limitTo:$ctrl.itemsPerPage:(($ctrl.currentPage-1)*$ctrl.itemsPerPage)" title="{{img.title}}" ng-click="$ctrl.openImage(img.id)">
				<div class="media-thumb mr-3" ng-style="{'background-image': 'url(data/' + img.file.path + img.file.thumb + ')'}"></div>
				<div class="media-body">
					<div class="media-title" ng-clamp="2" ng-bind="img.title"></div>
					<p class="mb-0"><i>{{img.author || 'unknown'}} - {{img.date || 'unknown' | imageDate}}</i></p>
				</div>
				<div class="media-flags">
					<i title="Add to collection" class="far fa-star" ng-show="!img.inCollection" ng-click="$ctrl.addToCollection($event, img)"></i>
					<i title="Remove from collection" class="fas fa-star" ng-show="img.inCollection" ng-click="$ctrl.removeFromCollection($event, img)"></i>
					<i title="Spatialized (Zoom in)" class="fa fa-cube" ng-show="img.spatial" ng-click="$ctrl.focusImage($event, img.spatial)"></i>
					<i title="Meta checked: {{img.checked.user}} &ndash; {{img.checked.to | amCalendar}}" ng-show="$root.editableMode && img.checked" class="fa fa-check"></i>
				</div>
			</li>
		</ul>

	</div>

	<div class="list-body list-card" ng-if="$ctrl.images.length && $ctrl.listMode === 'cards'">

		<div class="card border border-secondary" ng-repeat="img in $ctrl.images | orderBy:$ctrl.listOrderBy.prop:$ctrl.listOrderBy.desc | limitTo:$ctrl.itemsPerPage:(($ctrl.currentPage-1)*$ctrl.itemsPerPage)" title="{{img.title}}" ng-click="$ctrl.openImage(img.id)">
			<div class="card-img-top" ng-style="{'background-image': 'url(data/' + img.file.path + img.file.thumb + ')'}"></div>
			<div class="card-body">
				<div ng-clamp="3" ng-bind="img.title"></div>
				<p class="card-text"><i>{{img.author || 'unknown'}} - {{img.date || 'unknown' | imageDate}}</i></p>
			</div>
			<div class="media-flags">
				<i title="Add to collection" class="far fa-star" ng-show="!img.inCollection" ng-click="$ctrl.addToCollection($event, img)"></i>
				<i title="Remove from collection" class="fas fa-star" ng-show="img.inCollection" ng-click="$ctrl.removeFromCollection($event, img)"></i>
				<i title="Spatialized (Zoom in)" class="fa fa-cube" ng-show="img.spatial" ng-click="$ctrl.focusImage($event, img.spatial)"></i>
				<i title="Meta checked: {{img.checked.user}} &ndash; {{img.checked.to | amCalendar}}" ng-show="$root.editableMode && img.checked" class="fa fa-check"></i>
			</div>
		</div>

	</div>

	<div class="list-pagination bg-light d-flex justify-content-center">

		<ul uib-pagination
			class="pagination-sm"
			ng-model="$ctrl.currentPage"
			ng-change="$ctrl.onPaginationChange()"
			total-items="$ctrl.images.length"
			items-per-page="$ctrl.itemsPerPage"
			max-size="5"
			boundary-link-numbers="true"
			previous-text="&laquo;"
			next-text="&raquo;"
			template-url="partials/overrides/uib.pagination.tpl.html"></ul>

	</div>

</div>
