<div class="modal-body image-modal-body">

	<div class="preview-container">
		<image-viewer src="'data/' + $ctrl.image.file.path + $ctrl.image.file.texture" options="{width: $ctrl.image.file.width, height: $ctrl.image.file.height}"></image-viewer>
	</div>

	<div class="info-container">
		<div class="title-section">
			<h3>{{$ctrl.image.title}}</h3>
			<hr/>
		</div>

		<div class="details-section">
			<div class="info-display">
				<div ng-show="image.description">
					<strong>Description</strong>
					<p>{{$ctrl.image.description}}</p>
				</div>
				<div>
					<strong>Author</strong>
					<p>{{$ctrl.image.author || 'unknowm'}}</p>
				</div>
				<div>
					<strong>Date</strong>
					<p>{{$ctrl.image.date || 'unknown'}}</p>
				</div>
				<div ng-show="image.owner">
					<strong>Owner</strong>
					<p>{{$ctrl.image.owner}}</p>
				</div>
				<div ng-show="image.misc">
					<strong>Miscellaneous</strong>
					<p>{{$ctrl.image.misc}}</p>
				</div>
				<div>
					<strong>Tags</strong>
					<p>{{$ctrl.image.tags.join(', ')}}</p>
				</div>
				<div>
					<strong>Links</strong>
					<p><a ng-href="{{$ctrl.image.permalink}}" target="_blank">{{$ctrl.image.permalink}}</a></p>
					<p><a ng-href="data/{{$ctrl.image.file.path + $ctrl.image.file.original}}" target="_blank">Original file</a></p>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="modal-footer">
	<button class="btn btn-secondary" ng-click="$ctrl.startSpatialize()">Spatialize</button>
	<button class="btn btn-secondary" ng-click="$ctrl.close()">Close</button>
</div>
