<div class="list-tabs">
	<div ng-class="{active: $ctrl.listTab === 'selection'}" ng-click="$ctrl.setListTab('selection')">Selection ({{$ctrl.selection.length}})</div>
	<div ng-class="{active: $ctrl.listTab === 'collection'}" ng-click="$ctrl.setListTab('collection')">Collection ({{$ctrl.collection.length}})</div>
</div>

<div class="list-selection bg-light">

	<ul class="list-unstyled" ng-show="$ctrl.listTab === 'selection'">
		<li class="media border border-secondary" ng-repeat="img in $ctrl.selection as filteredSel" title="{{img.title}}" ng-click="$ctrl.openImage(img.id)">
			<div class="media-thumb mr-3" ng-style="{'background-image': 'url(data/' + img.file.path + img.file.thumb + ')'}"></div>
			<div class="media-body">
				<div class="media-title" ng-clamp="1" ng-bind="img.title"></div>
				<p class="mb-0"><i>{{img.author || 'unknown'}} - {{img.date || 'unknown'}}</i></p>
			</div>
			<div class="media-flags">
				<i title="Add to collection" class="fa fa-star-o" ng-show="!img.inCollection" ng-click="$ctrl.addToCollection($event, img)"></i>
				<i title="Remove from collection" class="fa fa-star" ng-show="img.inCollection" ng-click="$ctrl.removeFromCollection($event, img)"></i>
				<i title="Spatialized (Zoom in)" class="fa fa-cube" ng-show="img.spatial" ng-click="$ctrl.focusImage($event, img.spatial)"></i>
			</div>
			<div class="media-compare-btn" ng-show="$index" ng-click="$ctrl.openCompareModal($event, filteredSel[$index-1], filteredSel[$index])">
				<button title="Compare" class="btn btn-sm btn-primary"><i class="fa fa-exchange"></i></button>
			</div>
		</li>
	</ul>

	<ul class="list-unstyled" ng-show="$ctrl.listTab === 'collection'">
		<li class="media border border-secondary" ng-repeat="img in $ctrl.collection as filteredCol" title="{{img.title}}" ng-click="$ctrl.openImage(img.id)">
			<div class="media-thumb mr-3" ng-style="{'background-image': 'url(data/' + img.file.path + img.file.thumb + ')'}"></div>
			<div class="media-body">
				<div class="media-title" ng-clamp="1" ng-bind="img.title"></div>
				<p class="mb-0"><i>{{img.author || 'unknown'}} - {{img.date || 'unknown'}}</i></p>
			</div>
			<div class="media-flags">
				<i title="Add to collection" class="fa fa-star-o" ng-show="!img.inCollection" ng-click="$ctrl.addToCollection($event, img)"></i>
				<i title="Remove from collection" class="fa fa-star" ng-show="img.inCollection" ng-click="$ctrl.removeFromCollection($event, img)"></i>
				<i title="Spatialized (Zoom in)" class="fa fa-cube" ng-show="img.spatial" ng-click="$ctrl.focusImage($event, img.spatial)"></i>
			</div>
			<div class="media-compare-btn" ng-show="$index" ng-click="$ctrl.openCompareModal($event, filteredCol[$index-1], filteredCol[$index])">
				<button title="Compare" class="btn btn-sm btn-primary"><i class="fa fa-exchange"></i></button>
			</div>
		</li>
	</ul>
</div>

<div class="list-ctrls">
	<div>{{$ctrl.images.length}} results</div>
	<div class="form-inline">
		<label class="mr-2">Order by:</label>
		<select class="form-control form-control-sm" ng-model="$ctrl.listOrderBy.prop">
			<option value="title">Title</option>
			<option value="author">Author</option>
			<option value="date">Date</option>
		</select>
		<button class="btn btn-sm" ng-class="{'btn-primary': !$ctrl.listOrderBy.desc, 'btn-secondary': $ctrl.listOrderBy.desc}" ng-click="$ctrl.listOrderBy.desc = false"><i class="fa fa-sort-alpha-asc"></i></button>
		<button class="btn btn-sm" ng-class="{'btn-primary': $ctrl.listOrderBy.desc, 'btn-secondary': !$ctrl.listOrderBy.desc}" ng-click="$ctrl.listOrderBy.desc = true"><i class="fa fa-sort-alpha-desc"></i></button>
	</div>
	<div class="btn-group btn-group-sm">
		<button class="btn btn-sm" ng-class="$ctrl.listMode === 'list' ? 'btn-primary' : 'btn-secondary'" ng-click="$ctrl.setListMode('list')"><i class="fa fa-th-list"></i></button>
		<button class="btn btn-sm" ng-class="$ctrl.listMode === 'cards' ? 'btn-primary' : 'btn-secondary'" ng-click="$ctrl.setListMode('cards')"><i class="fa fa-th-large"></i></button>
	</div>
</div>

<div class="list-body list-media" ng-if="$ctrl.listMode === 'list'">

	<ul class="list-unstyled">
		<li class="media border border-secondary" ng-repeat="img in $ctrl.images | orderBy:$ctrl.listOrderBy.prop:$ctrl.listOrderBy.desc | limitTo:$ctrl.itemsPerPage:(($ctrl.currentPage-1)*$ctrl.itemsPerPage)" title="{{img.title}}" ng-click="$ctrl.openImage(img.id)">
			<div class="media-thumb mr-3" ng-style="{'background-image': 'url(data/' + img.file.path + img.file.thumb + ')'}"></div>
			<div class="media-body">
				<div class="media-title" ng-clamp="2" ng-bind="img.title"></div>
				<p class="mb-0"><i>{{img.author || 'unknown'}} - {{img.date || 'unknown'}}</i></p>
			</div>
			<div class="media-flags">
				<i title="Add to collection" class="fa fa-star-o" ng-show="!img.inCollection" ng-click="$ctrl.addToCollection($event, img)"></i>
				<i title="Remove from collection" class="fa fa-star" ng-show="img.inCollection" ng-click="$ctrl.removeFromCollection($event, img)"></i>
				<i title="Spatialized (Zoom in)" class="fa fa-cube" ng-show="img.spatial" ng-click="$ctrl.focusImage($event, img.spatial)"></i>
			</div>
		</li>
	</ul>

</div>

<div class="list-body list-card" ng-if="$ctrl.listMode === 'cards'">

	<div class="card border border-secondary" ng-repeat="img in $ctrl.images | orderBy:$ctrl.listOrderBy.prop:$ctrl.listOrderBy.desc | limitTo:$ctrl.itemsPerPage:(($ctrl.currentPage-1)*$ctrl.itemsPerPage)" title="{{img.title}}" ng-click="$ctrl.openImage(img.id)">
		<div class="card-img-top" ng-style="{'background-image': 'url(data/' + img.file.path + img.file.thumb + ')'}"></div>
		<div class="card-body">
			<div ng-clamp="3">{{img.title}}</div>
			<p class="card-text"><i>{{img.author || 'unknown'}} - {{img.date || 'unknown'}}</i></p>
		</div>
		<div class="media-flags">
			<i title="Memorize" class="fa fa-star-o"></i>
			<i title="Spatialized (Zoom in)" class="fa fa-cube" ng-show="img.spatial" ng-click="$ctrl.focusImage($event, img.spatial)"></i>
		</div>
	</div>

</div>

<div class="list-pagination bg-light d-flex justify-content-center">

	<ul uib-pagination
		class="pagination-sm"
		ng-model="$ctrl.currentPage"
		total-items="$ctrl.images.length"
		items-per-page="$ctrl.itemsPerPage"
		max-size="5"
		boundary-link-numbers="true"
		previous-text="&laquo;"
		next-text="&raquo;"
		template-url="partials/overrides/uib.pagination.tpl.html"></ul>

</div>
