<div class="modal-header">

	<h3 class="modal-title">{{$ctrl.object.name}}</h3>

	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<!--<hr/>-->
</div>

<div class="modal-body object-modal-body">

	<div class="preview-container"></div>

	<div class="info-container">
		<div>
			<strong>Name</strong>
			<p>
				<span data-editable-text="$ctrl.object.name"
					  data-e-form="eTitleForm"
					  data-onbeforesave="$ctrl.updateObject('name', $data)">{{$ctrl.object.name}}</span>
				<button class="btn btn-secondary btn-sm" ng-click="eTitleForm.$show()" ng-hide="eTitleForm.$visible"><i class="fa fa-pencil"></i></button>
			</p>
		</div>

		<div>
			<strong>Erection</strong>
			<p>
				<span data-editable-text="$ctrl.object.date.from"
					  data-e-form="eErectionForm"
					  data-onbeforesave="$ctrl.updateObject('name', $data)">{{$ctrl.object.date.from || 'undefined'}}</span>
				<button class="btn btn-secondary btn-sm" ng-click="eErectionForm.$show()" ng-hide="eErectionForm.$visible"><i class="fa fa-pencil"></i></button>
			</p>
		</div>

		<div>
			<strong>Destruction</strong>
			<p>
				<span data-editable-text="$ctrl.object.date.to"
					  data-e-form="eDestructionForm"
					  data-onbeforesave="$ctrl.updateObject('to', $data)">{{$ctrl.object.date.to || 'undefined'}}</span>
				<button class="btn btn-secondary btn-sm" ng-click="eDestructionForm.$show()" ng-hide="eDestructionForm.$visible"><i class="fa fa-pencil"></i></button>
			</p>
		</div>

		<div class="object-debug">
			<pre>{{$ctrl.object | json}}</pre>
		</div>

	</div>

</div>

<div class="modal-footer">
	<button class="btn btn-secondary" ng-click="$ctrl.close()">Close</button>
</div>