html, body
	height: 100%

body
	display: flex
	flex-direction: column

	& > [ui-view="header"]
		flex: 0 0 auto
	& > [ui-view="footer"]
		flex: 0 0 auto
	& > [ui-view="root"]
		flex: 1
		position: relative
		& > ui-view
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			overflow-y: auto
