@import "../../node_modules/bootswatch/dist/superhero/variables"

html, body
	height: 100%
	padding: 0
	margin: 0

body
	& > .main-body
		position: relative
		width: 100%
		height: 100%
		display: flex
		flex-direction: column

		& > [ui-view="header"]
			flex: 0 0 auto
		& > [ui-view="footer"]
			flex: 0 0 auto
		& > [ui-view="root"]
			flex: 1
			position: relative
			& > ui-view
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				overflow-y: auto

// $modal custom
.modal-backdrop
	background-color: rgba(0,0,0,0.2)

.modal, .modal-backdrop
	&.ng-enter, &.ng-leave
		transition: opacity 0.3s
	&.ng-enter, &.ng-leave.ng-leave-active
		opacity: 0
	&.ng-enter.ng-enter-active, &.ng-leave
		opacity: 1

.modal
	overflow: auto
	outline: none

.modal-dialog
	&.modal-large
		max-width: 1200px
	&.modal-xlarge
		max-width: 100%

	&.modal-large, &.modal-xlarge
		height: 100%
		width: 100%
		margin: 0 auto
		padding: 30px
		& > .modal-content
			height: 100%
			& > *
				position: relative
				height: 100%
				display: flex
				flex-direction: column
				& > .modal-header, & > .modal-footer
					flex: 0 0 auto
				& > .modal-body
					flex: 1 1 auto
					min-height: 0

// $alert custom
.alert
	position: absolute
	width: 600px
	max-width: 90%
	top: 100px
	left: 50%
	transform: translate(-50%,0)
	z-index: 1090

// custom range input slider
input[type=range].dvSlider
	-webkit-appearance: none
	width: 100%
	margin: 0
	background: none

	&:focus
		outline: none

	&::-webkit-slider-runnable-track
		width: 100%
		height: 6px
		cursor: pointer
		background: #eee

	&::-webkit-slider-thumb
		height: 14px
		width: 14px
		background: $primary
		cursor: pointer
		-webkit-appearance: none
		margin-top: -4px

	&:focus::-webkit-slider-runnable-track
		background: #ddd

	&::-moz-range-track
		width: 100%
		height: 6px
		cursor: pointer
		background: #eee

	&::-moz-range-thumb
		height: 14px
		width: 14px
		background: $primary
		cursor: pointer

	&::-ms-track
		width: 100%
		height: 8px
		cursor: pointer
		background: transparent
		border-color: transparent
		color: transparent

	&::-ms-fill-lower
		background: #484848

	&::-ms-fill-upper
		background: #eee

	&::-ms-thumb
		height: 14px
		width: 14px
		background: $primary
		cursor: pointer

	&:focus::-ms-fill-lower
		background: #eee

	&:focus::-ms-fill-upper
		background: #626262

input[type=range].dvSlider.dvSlider-dark
	&::-webkit-slider-runnable-track
		background: #aaa
	&:focus::-webkit-slider-runnable-track
		background: #999
