html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body > .main-body {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  body > .main-body > [ui-view="header"] {
    flex: 0 0 auto; }
  body > .main-body > [ui-view="footer"] {
    flex: 0 0 auto; }
  body > .main-body > [ui-view="root"] {
    flex: 1;
    position: relative; }
    body > .main-body > [ui-view="root"] > ui-view {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto; }

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2); }

.modal.ng-enter, .modal.ng-leave, .modal-backdrop.ng-enter, .modal-backdrop.ng-leave {
  transition: opacity 0.3s; }
.modal.ng-enter, .modal.ng-leave.ng-leave-active, .modal-backdrop.ng-enter, .modal-backdrop.ng-leave.ng-leave-active {
  opacity: 0; }
.modal.ng-enter.ng-enter-active, .modal.ng-leave, .modal-backdrop.ng-enter.ng-enter-active, .modal-backdrop.ng-leave {
  opacity: 1; }

.modal {
  overflow: auto;
  outline: none; }

.modal-dialog.modal-large {
  max-width: 1200px; }
.modal-dialog.modal-xlarge {
  max-width: 100%; }
.modal-dialog.modal-large, .modal-dialog.modal-xlarge {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 30px; }
  .modal-dialog.modal-large > .modal-content, .modal-dialog.modal-xlarge > .modal-content {
    height: 100%; }
    .modal-dialog.modal-large > .modal-content > *, .modal-dialog.modal-xlarge > .modal-content > * {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column; }
      .modal-dialog.modal-large > .modal-content > * > .modal-header, .modal-dialog.modal-large > .modal-content > * > .modal-footer, .modal-dialog.modal-xlarge > .modal-content > * > .modal-header, .modal-dialog.modal-xlarge > .modal-content > * > .modal-footer {
        flex: 0 0 auto; }
      .modal-dialog.modal-large > .modal-content > * > .modal-body, .modal-dialog.modal-xlarge > .modal-content > * > .modal-body {
        flex: 1 1 auto; }

.alert {
  position: absolute;
  width: 600px;
  max-width: 90%;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1090; }

input[type=range].dvSlider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  background: none; }
  input[type=range].dvSlider:focus {
    outline: none; }
  input[type=range].dvSlider::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #eee; }
  input[type=range].dvSlider::-webkit-slider-thumb {
    height: 14px;
    width: 14px;
    background: #DF691A;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px; }
  input[type=range].dvSlider:focus::-webkit-slider-runnable-track {
    background: #ddd; }
  input[type=range].dvSlider::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #eee; }
  input[type=range].dvSlider::-moz-range-thumb {
    height: 14px;
    width: 14px;
    background: #DF691A;
    cursor: pointer; }
  input[type=range].dvSlider::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  input[type=range].dvSlider::-ms-fill-lower {
    background: #484848; }
  input[type=range].dvSlider::-ms-fill-upper {
    background: #eee; }
  input[type=range].dvSlider::-ms-thumb {
    height: 14px;
    width: 14px;
    background: #DF691A;
    cursor: pointer; }
  input[type=range].dvSlider:focus::-ms-fill-lower {
    background: #eee; }
  input[type=range].dvSlider:focus::-ms-fill-upper {
    background: #626262; }

input[type=range].dvSlider.dvSlider-dark::-webkit-slider-runnable-track {
  background: #aaa; }
input[type=range].dvSlider.dvSlider-dark:focus::-webkit-slider-runnable-track {
  background: #999; }

/*# sourceMappingURL=main.css.map */
