time-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex; }
  time-slider .time-panel {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex; }
    time-slider .time-panel > .time-panel-header {
      min-width: 0;
      width: 20px;
      flex: 0 0 auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      time-slider .time-panel > .time-panel-header > span {
        font-size: 10px;
        text-transform: uppercase;
        opacity: 0.6;
        transform: rotate(-90deg); }
    time-slider .time-panel > .time-panel-body {
      flex: 1; }
  time-slider .time-legend {
    flex: 0 0 auto;
    border-right: 2px solid #4E5D6C;
    padding-right: 0.25rem; }
    time-slider .time-legend > .time-panel-body > div {
      margin-right: 0.25rem;
      font-size: 11px;
      text-align: right; }
      time-slider .time-legend > .time-panel-body > div:nth-child(1) {
        color: #DF691A; }
      time-slider .time-legend > .time-panel-body > div:nth-child(2) {
        color: #5bc0de; }
      time-slider .time-legend > .time-panel-body > div:nth-child(3) {
        color: #77b837; }
  time-slider .time-slider {
    flex: 1; }
  time-slider .time-options {
    flex: 0 0 auto;
    border-left: 2px solid #4E5D6C; }
    time-slider .time-options > .time-panel-body {
      margin-right: 0.25rem;
      display: flex;
      align-items: center; }
  time-slider svg {
    width: 100%;
    height: 100%; }
    time-slider svg rect.background {
      fill: transparent; }
    time-slider svg rect.track {
      fill: #8d9dad;
      pointer-events: none; }
    time-slider svg g.tick-container {
      pointer-events: none; }
    time-slider svg g.tick > line {
      stroke: #8d9dad;
      stroke-width: 2px; }
    time-slider svg g.tick > text {
      fill: #8d9dad;
      font-size: 12px; }
    time-slider svg rect.image-span {
      fill: #DF691A;
      opacity: 0.3;
      cursor: grab; }
    time-slider svg .from-handle > path, time-slider svg .to-handle > path {
      fill: none;
      stroke: #DF691A;
      stroke-width: 2px; }
    time-slider svg .from-handle > text, time-slider svg .to-handle > text {
      fill: #DF691A;
      font-size: 12px; }
    time-slider svg .from-handle > rect, time-slider svg .to-handle > rect {
      fill: transparent;
      cursor: w-resize; }
    time-slider svg .obj-handle > path {
      fill: none;
      stroke: #5bc0de;
      stroke-width: 2px; }
    time-slider svg .obj-handle > text {
      fill: #5bc0de;
      font-size: 12px; }
    time-slider svg .obj-handle > rect {
      fill: transparent;
      cursor: w-resize; }
    time-slider svg .map-handle > path {
      fill: none;
      stroke: #77b837;
      stroke-width: 2px; }
    time-slider svg .map-handle > text {
      fill: #77b837;
      font-size: 12px; }
    time-slider svg .map-handle > rect {
      fill: transparent;
      cursor: pointer; }
    time-slider svg .map-handle.active > path {
      fill: #77b837; }

/*# sourceMappingURL=timeSlider.css.map */
