<div class="container">
	<h1 class="display-3">Help</h1>

	<hr/>

	<h1>Navigation</h1>
	<p>Some introduction text.</p>
	<h3>Mouse gestures</h3>
	<p>There are multiple mouse gestures available:</p>
	<ul>
		<li><img height="60" src="img/help/navigation_help_button0.svg"/> <i>Hold:</i> Rotate view, <i>Click:</i> Select item, <i>Double click:</i> Select and focus item</li>
		<li><img height="60" src="img/help/navigation_help_button1.svg"/> <i>Hold:</i> Pan view</li>
		<li><img height="60" src="img/help/navigation_help_wheel.svg"/> <i>Scroll:</i> Zoom view</li>
		<li><img height="60" src="img/help/navigation_help_contextmenu.svg"/> <i>Click:</i> Select item and open context menu</li>
		<li><img height="60" src="img/help/navigation_help_ctrlselect.svg"/> <i>Click:</i> Select/deselect multiple items</li>
	</ul>

	<h3>Navigation bar</h3>
	<p>In addition to the mouse gestures, there is also the possibility to navigate with the left mouse button pressed.</p>
	<p><img src="img/help/navigation_bar.jpg"/></p>
	<ul>
		<li><img height="30" src="img/help/cursor80_w.svg"/> Standard navigation mode, see "Mouse gestures"</li>
		<li><img height="30" src="img/help/orbit_w.svg"/> Rotate/orbit view with left mouse button pressed</li>
		<li><img height="30" src="img/help/move_w.svg"/> Pan view with left mouse button pressed</li>
		<li><img height="30" src="img/help/zoom2_w.svg"/> Zoom view with left mouse button pressed</li>
	</ul>

	<hr/>

	<h1>Collection <small>&ndash; Memorizing images</small></h1>
	<p><img src="img/help/collection_box.jpg"/></p>
	<p>Images can be memorized. All memorized images can be found within the "Collection" tab. To add/remove an image to/from the collection, you can</p>
	<ul>
		<li>Hit the star icon (<i class="fa fa-star"></i> <i class="fa fa-star-o"></i>) within the search results list entry<br/>
			<img class="mt-1 mb-1" src="img/help/collection_stars.jpg"/>
		</li>
		<li>Right-click within the viewport on an image and choose "Add to collection"/"Remove from collection"<br/>
			<img class="mt-1 mb-1" src="img/help/collection_contextmenu.jpg"/>
		</li>
		<li>Press the responsible button within the detail view<br/>
			<img class="mt-1 mb-1" src="img/help/collection_detailview.jpg"/>
		</li>
	</ul>
</div>