<!--<div class="heatmap">-->
	<!--<canvas width="500" height="500"></canvas>-->
<!--</div>-->

<div class="ctrl-container ctrl-bottom-right">
	<div>

		<div class="row ng-hide" ng-show="$root.editableMode">
			<div class="ctrl-group">
				<button class="btn btn-default" ng-click="$ctrl.linkToObjects()">Link to Objects</button>
				<button class="btn btn-default" ng-class="{'btn-info': $ctrl.dummyCreationMode}" ng-click="$ctrl.toggleDummyCreationMode()">Dummy Creation Mode</button>
			</div>
		</div>

		<div class="row mt-1 ng-hide" ng-show="$ctrl.legend">
			<legend-gradient class="position-relative" domain="$ctrl.legend.domain" gradient="$ctrl.legend.gradient" orientation="bottom"></legend-gradient>
		</div>

		<div class="row">
			<div class="ctrl-group">
				<input type="checkbox" ng-model="$ctrl.analysis.visible" ng-change="$ctrl.analysis.toggle()"/> Show Visualization of Orientation
			</div>
		</div>

		<div class="row ng-hide" ng-show="$ctrl.analysis.visible">
			<div class="ctrl-group">
				<input type="radio" title="Heat Map" value="heatMap" ng-model="$ctrl.analysis.type" ng-change="$ctrl.analysis.changeType()"/> Heat Map<br/>
				<input type="radio" title="Radar Chart" value="radarChart" ng-model="$ctrl.analysis.type" ng-change="$ctrl.analysis.changeType()"/> Radar Chart<br/>
				<input type="radio" title="Radar Chart 2" value="radarChart2" ng-model="$ctrl.analysis.type" ng-change="$ctrl.analysis.changeType()"/> Radar Chart 2<br/>
				<input type="radio" title="Object Heat Map" value="objectHeatMap" ng-model="$ctrl.analysis.type" ng-change="$ctrl.analysis.changeType()"/>Object Heat Map<br/>
				<input type="radio" title="Vector Field" value="vectorField" ng-model="$ctrl.analysis.type" ng-change="$ctrl.analysis.changeType()"/> Vector Field<br/>
				<input type="radio" title="Moving Particles" value="windMap" ng-model="$ctrl.analysis.type" ng-change="$ctrl.analysis.changeType()"/> Moving Particles <input type="checkbox" title="useWeight" ng-model="$ctrl.analysis.disWeight" ng-change="$ctrl.analysis.changeSetting()"/> disWeight
			</div>
		</div>

		<div class="row ng-hide" ng-show="$ctrl.analysis.visible">
			<div class="ctrl-group">
				<input type="checkbox" ng-model="$ctrl.analysis.overlay" ng-change="$ctrl.analysis.toggleOverlay()"/> Overlay
			</div>
			<div class="ctrl-group">
				<div class="ctrl-slider">
					<span>Radius</span>
					<input class="dvSlider" type="range" min="10" max="100" step="2" ng-model="$ctrl.analysis.radius" ng-change="$ctrl.analysis.changeRadius()"/>
					<span>{{ $ctrl.analysis.radius }}</span>
				</div>
			</div>
		</div>

	</div>
</div>
