<div class="ctrl-container ctrl-top-right">
	<div>

		<div class="row">
			<div class="ctrl-group">
				<div class="ctrl-slider">
					<span>Image opacity</span>
					<input class="dvSlider" type="range" min="0" max="100" step="5" ng-model="$ctrl.opacity" ng-change="$ctrl.setOpacity()"/>
					<span>{{ $ctrl.opacity }}</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="ctrl-group">
				<div class="ctrl-slider">
					<span>Image scale</span>
					<input class="dvSlider" type="range" min="2" max="20" step="1" ng-model="$ctrl.scale" ng-change="$ctrl.setScale()"/>
					<span>{{ $ctrl.scale }}</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="ctrl-group">
				<div class="ctrl-slider">
					<span>Cluster distance</span>
					<input class="dvSlider" type="range" min="1" max="100" step="1" ng-model="$ctrl.clusterDistance" ng-change="$ctrl.setClusterDistanceMultiplier()"/>
					<span>{{ $ctrl.clusterDistance }}</span>
				</div>
			</div>
		</div>

	</div>
</div>
