<div class="ctrl-container ctrl-left ctrl-center-v">
	<div class="p-2">

		<h6>Model Upload</h6>

		<div>
			<b>Reset</b>
			<div><button class="btn btn-default btn-sm" ng-click="$ctrl.reset('position')">Position</button></div>
			<div><button class="btn btn-default btn-sm" ng-click="$ctrl.reset('quaternion')">Rotation</button></div>
			<div><button class="btn btn-default btn-sm" ng-click="$ctrl.reset('scale')">Scale</button></div>
		</div>

		<hr/>

		<div>
			<button class="btn btn-primary btn-sm" ng-click="$ctrl.save()">Save</button>
			<button class="btn btn-default btn-sm" ng-click="$ctrl.abort()">Abort</button>
		</div>

	</div>
</div>