<!--<div class="search-bar">-->
		<!--<div class="container">-->
			<!--<div class="input-group">-->
				<!--<span class="input-group-addon">Search</span>-->
				<!--<input class="form-control" type="search" placeholder="Search..." ng-model="$ctrl.searchTerm" ng-keypress="$ctrl.onSearchTermEnter($event)">-->
				<!--<span class="input-group-btn">-->
					<!--<button class="btn btn-secondary" ng-click="$ctrl.performSearch()">Go!</button>-->
				<!--</span>-->
			<!--</div>-->
		<!--</div>-->
<!--</div>-->

<div class="search-explorer">

	<div class="space-time-container">

		<div class="viewport-container">
			<viewport id="mainViewport"
					  navigation
					  compass
					  load-progress
					  image-controls
					  selection-display
					  analysis-tools
					  spatialize-manual>
			</viewport>

			<div class="viewport-load-panel" ng-show="$root.showModelLoadPanel">
				<!--<p class="h3"><i class="fa fa-refresh"></i></p>-->
				<!--<p class="h3">Click to load model</p>-->
				<p class="h3">Scene is loading soon...</p>
			</div>
		</div>

		<div class="timeSlider-container">
			<time-slider></time-slider>
		</div>

	</div>

	<div class="search-results" resizable r-direction="left" r-size-min="400">

		<image-list></image-list>

	</div>

</div>
